<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Heartbeat Reader</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/flexslider.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/css/icofont.css">
    <link rel="stylesheet" href="../static/css/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/jQuery.verticalCarousel.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/responsive.css">
</head>

<body class="loading">
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-3 col-xs-12">
                        <div class="logo">
                            <!-- <a href="#"> -->
                            <!-- <img src="../static/img/site-logo.png" alt=""> -->
                            <h2 id="header-logo">HeartBeat</h2>
                            <!-- </a> -->
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-9 col-xs-12">
                        <div class="menu">
                            <!-- <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">Extension</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Help</a></li>
                            </ul> -->
                            <div class="sign_up">
                                <p><a href="#">Switch to Face Detector</a></p>
                                <!-- TODO: Add Hover-->
                                <!-- TODO: Change BG-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="text">
                            <h3>HeartBeat Reader</h3>
                            <h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamc </h6>


                            {% if video_upload %}
                            <form id="image_form" action="/heartbeat" method="POST" enctype="multipart/form-data">
                                <input class="button white" href="" id="video-upload" name="video-upload" type="file"></input>
                                <input class="button white" href="" id="submit-button" name="video" type="submit" value="Upload Video"></input>
                            </form>

                            {% elif video_stream %}
                            <form id="image_form" action="/heartbeat" method="POST" enctype="multipart/form-data">
                                <input class="button white" href="" id="video-upload" name="video-url" type="input"></input>
                                <input class="button white" href="" id="submit-button" name="video-feed" type="submit" value="Submit Stream Link"></input>
                            </form>

                            {% elif video_feed %}
                            <input class="button white" href="" id="submit-button" value="Stop Stream"></input>

                            {% else %}
                            <form id="image_form" action="/heartbeat" method="POST" enctype="multipart/form-data">
                                <input class="button white" href="" id="video-upload" name="video-upload" type="submit" value="Upload Recording"></input>
                                <input class="button white" href="" id="submit-button" name="video-stream" type="submit" value="Video Stream"></input>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="header_video">
                            {% if filename %}
                            <!-- <img src="{{ url_for('upload', filename=filename) }}"> -->
                            <img src="{{ filename }}"> {% elif video_feed %}
                            <img src="{{ url_for('heart_video_feed') }}" alt="Video Stream here, currently not visible" id="video-feed"> {% else %}
                            <!-- <iframe src="https://www.youtube.com/embed/bM4G1Toe3h0" frameborder="0" allowfullscreen></iframe> -->
                            <center>
                                <h2>Choose an option for detection. It will be displayed here</h2>
                            </center>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="project">
            <div class="text">
                <h2>Easy & Useful</h2>
                <h4>Project Management Tool</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4 project_icon">
                        <div class="single_project">
                            <i class="icofont icofont-tasks-alt"></i>
                            <h3><a href="#">Title Goes Here</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-md-4 project_icon">
                        <div class="single_project">
                            <i class="icofont icofont-team"></i>
                            <h3><a href="#">Title Goes Here</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-md-4 project_icon">
                        <div class="single_project">
                            <i class="icofont icofont-worker"></i>
                            <h3><a href="#">Title Goes Here</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p class="button"><a class="button" href="#">Get started</a></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="user_part">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="useres_part">
                            <div class="row">
                                <div class="col-md-3 col-sm-6 user_part_part">
                                    <div class="user_text">
                                        <i class="material-icons">business</i>
                                        <h4>12000+ <br> Business</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 user_part_part">
                                    <div class="user_text">
                                        <i class="material-icons">file_download</i>
                                        <h4>60000+ <br> Downloads</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 user_part_part">
                                    <div class="user_text">
                                        <i class="material-icons">person</i>
                                        <h4>30000+ <br>Installs</h4>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6 user_part_part">
                                    <div class="user_text">
                                        <i class="material-icons">file_download</i>
                                        <h4>40000+ <br> Pro Users</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="footer-logo">
                            <a href="#"><img src="../static/img/site-logo.png" alt=""></a>
                        </div>
                        <div class="footer_first_menu">
                            <ul>
                                <!-- <li><a href="#">Pri Policy</a></li>
                                <li><a href="#">About Us</a></li> -->
                                <li><a href="#">About Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <div class="footer_last_menu">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">Service</a></li>
                                        <li><a href="#">Extension</a></li>
                                        <li><a href="#">Pricing</a></li>
                                        <li><a href="#">Help</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="footer_last_icon">
                                    <p><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a><a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/jquery.flexslider.js"></script>
    <script src="../static/js/jQuery.verticalCarousel.js"></script>
    <script src="../static/js/jquery-ui.js"></script>
    <script src="../static/js/active.js"></script>
</body>

</html>