<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Heartbeat Reader</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/flexslider.css">
    <link rel="stylesheet" href="../static/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/css/icofont.css">
    <link rel="stylesheet" href="../static/css/jquery-ui.css">
    <link rel="stylesheet" href="../static/css/jQuery.verticalCarousel.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/responsive.css">
</head>

<body class="loading">
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-3 col-xs-12">
                        <div class="logo">
                            <!-- <a href="#"> -->
                            <!-- <img src="../static/img/site-logo.png" alt=""> -->
                            <h2 id="header-logo">HeartBeat</h2>
                            <!-- </a> -->
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-9 col-xs-12">
                        <div class="menu">
                            <!-- <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">Extension</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Help</a></li>
                            </ul> -->
                            <div class="sign_up">
                                <p><a href="{{ url_for('home_type') }}">Switch to Face Detector</a></p>
                                <!-- TODO: Add Hover-->
                                <!-- TODO: Change BG-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="text">
                            <h3>Heart Rate Reader</h3>
                            <h6>Upload a video of your fingertip placed on top of your phone camera (preferably with its flashlight on). </h6>


                            {% if video_upload %}
                            <form id="image_form" action="/heartbeat" method="POST" enctype="multipart/form-data">
                                <input class="button white" href="" id="video-upload" name="video-upload" type="file"></input>
                                <input class="button white" href="" id="submit-button" name="video" type="submit" value="Upload Video"></input>
                            </form>

                            {% elif video_stream %}
                            <form id="image_form" action="/heartbeat" method="POST" enctype="multipart/form-data">
                                <input class="button white" href="" id="video-upload" name="video-url" type="input"></input>
                                <input class="button white" href="" id="submit-button" name="video-feed" type="submit" value="Submit Stream Link"></input>
                            </form>

                            {% elif video_feed %}
                            <input class="button white" href="" id="submit-button" value="Stop Stream"></input>

                            {% else %}
                            <form id="image_form" action="/heartbeat" method="POST" enctype="multipart/form-data">
                                <input class="button white" href="" id="video-upload" name="video-upload" type="submit" value="Upload Recording"></input>
                                <input class="button white" href="" id="submit-button" name="video-stream" type="submit" value="Video Stream"></input>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="header_video">
                            {% if filename %}
                            <!-- <img src="{{ url_for('upload', filename=filename) }}"> -->
                            <img src="{{ filename }}"> {% elif video_feed %}
                            <img src="{{ url_for('heart_video_feed') }}" alt="Video Stream here, currently not visible" id="video-feed"> {% else %}
                            <!-- <iframe src="https://www.youtube.com/embed/bM4G1Toe3h0" frameborder="0" allowfullscreen></iframe> -->
                            <center>
                                <h3>Results will be displayed here</h3>
                            </center>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/jquery.flexslider.js"></script>
    <script src="../static/js/jQuery.verticalCarousel.js"></script>
    <script src="../static/js/jquery-ui.js"></script>
    <script src="../static/js/active.js"></script>
</body>

</html>