<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Front page</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="../static/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/responsive.css">
</head>

<body class="loading">
    <div class="wrapper">
        <header class="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-3 col-xs-12">
                        <div class="logo">
                            <!-- <a href="#"> -->
                            <!-- <img src="../static/img/site-logo.png" alt=""> -->
                            <h2 id="header-logo">Face Detector</h2>
                            <!-- </a> -->
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-9 col-xs-12">
                        <div class="menu">
                            <!-- <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">Extension</a></li>
                                <li><a href="#">Pricing</a></li>
                                <li><a href="#">Help</a></li>
                            </ul> -->
                            <div class="sign_up">
                                <p><a href="{{ url_for('heartbeat') }}">Switch to HeartBeat Reader</a></p>
                                <!-- TODO: Add Hover-->
                                <!-- TODO: Change BG-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="text">
                            <h3>Face Detector</h3>
                            <h6>Choose an option for facial detection: either from an uploaded image or via a video stream from your webcam</h6>

                            {% if image_upload %}
                            <form id="image_form" action="/" method="POST" enctype="multipart/form-data">
                                <input class="button white" href="" id="image-upload" name="image-upload" type="file"></input>
                                <input class="button white" href="" id="submit-button" name="image" type="submit" value="Upload Image"></input>
                            </form>


                            {% elif video_page %}
                            <form id="image_form" action="/" method="POST" enctype="multipart/form-data">
                                <input class="button white" href="" id="image-upload" name="video-upload" type="submit" value="Upload from Gallery"></input>
                                <input class="button white" href="" id="video" name="video-cam" type="submit" value="Stream from Camera"></input>
                            </form>

                            {% elif video_upload %}
                            <form id="image_form" action="/" method="POST" enctype="multipart/form-data">
                                <input class="button white" href="" id="video-upload" name="video-upload" type="file"></input>
                                <input class="button white" href="" id="submit-button" name="video" type="submit" value="Upload Video"></input>
                            </form>

                            {% elif video_stream %}
                            <form id="image_form" action="/" method="POST" enctype="multipart/form-data">
                                <!-- <input class="button white" href="" id="video-upload" name="video-upload" type="file"></input> -->
                                <input class="button white" href="" id="submit-button" name="video-feed" type="submit" value="Stop Stream"></input>
                            </form>


                            {% else %}
                            <form id="image_form" action="/" method="POST">
                                <input class="button white" href="" id="image-upload" name="image-page" type="submit" value="From Image"></input>
                                <input class="button white" href="" id="video" name="video-page" type="submit" value="From Video"></input>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="header_video">
                            {% if filename %}
                            <!-- <img src="{{ url_for('upload', filename=filename) }}"> -->
                            <img src="{{ filename }}"> {% elif video_stream %}
                            <img src="{{ url_for('video_feed') }}" alt="Video Stream here, currently not visible" id="video-feed"> {% else %}
                            <!-- <iframe src="https://www.youtube.com/embed/bM4G1Toe3h0" frameborder="0" allowfullscreen></iframe> -->
                            <center>
                                <h3>Results will be displayed here</h3>
                            </center>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>

    </div>
    <script src="../static/js/jquery-3.1.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/18264bfb6e.js" crossorigin="anonymous"></script>
</body>

</html>